<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<title>Cultivar Greenhouse Dashboard</title>
	</head>

	<body>
		<script src = "{{url_for('static', filename='socket.io.js')}}"></script>
		<script src = "{{url_for('static', filename='socket.io.js.map')}}"></script>

		<div class="jumbotron">
			<h1 class="display-4" style="font-size:8vw;">Cultivate</h1>
			<p class ="lead" style="font-size:3vw;color:#7D9F35">The care system for your greenhouse!</p>
		</div>
		
		<div class="d-flex justify-content-around">
			<div class="col-sm-3">
			<div class="card mb-3 text-center" style="max-width: 18rem;">
				<div class="card-header bg-primary text-white">Temperature</div>
				<div class="card-body">
				<h5 class="card-title text-black m-0" id="tempWindow">Primary card title</h5>
				<p1 class="card-text" id="setpointWindow">Setpoint</p>
				</div>
				<div class="card-footer">
					<p class="m-0" id="ventposWindow">this is a test</p>
				</div>
			</div>
			</div>

			<div class="col-sm-3">
			<div class="card mb-3 text-center" style="max-width: 18rem;">
				<div class="card-header bg-primary text-white">Humidity</div>
				<div class="card-body">
				<h5 class="card-title text-black m-0" id="humidWindow">Primary card title</h5>
				</div>
			</div>
			</div>

			<div class="col-sm-3">
			<div class="card mb-3 text-center" style="max-width: 18rem;">
				<div class="card-header bg-primary text-white">Soil Moisture</div>
				<div class="card-body">
				<h5 class="card-title text-black m-0" id="soilMoistureWindow">Primary card title</h5>
				</div>
				<div class="card-footer">
					<p class="m-0" id="wateringStatus">this is a test</p>
				</div>
			</div>
			</div>
		</div>

		<script>
			var socket = io();
			socket.on('connect',function(){
				console.log("connected");
				socket.emit('connects_data',"I have connected");
			});

			socket.on('send_temperature', function(temp_object){
				document.getElementById("tempWindow").innerHTML = temp_object.temp +"°C";
				document.getElementById("setpointWindow").innerHTML = "Setpoint: " + temp_object.temp_setpoint;
				document.getElementById("humidWindow").innerHTML = temp_object.humid +"%";
			});

			socket.on('send_vent_position', function(vent_pos){
				document.getElementById("ventposWindow").innerHTML = vent_pos.pos;
			});

			socket.on('send_soilmoisture', function(soil_moisture){
				document.getElementById("soilMoistureWindow").innerHTML = soil_moisture.JSsoil + "%";
			});
			socket.on('watering_info', function(w){
				document.getElementById("wateringStatus").innerHTML = w.watering_status;
			});
		</script>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>

	</body>
</html>
